$common-path: '../assets/img/';

// 人物
$caocao: $common-path + 'caocao.png';
$zhangfei: $common-path + 'zhangfei.png';
$zhaoyun: $common-path + 'zhaoyun.png';
$machao: $common-path + 'machao.png';
$guanyu: $common-path + 'guanyu.png';
$huangzhong: $common-path + 'huangzhong.png';
$xiaobing: $common-path + 'xiaobing.png';

$banner: $common-path + 'banner.png';